<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Page Title</title>
	<link rel="stylesheet" media="screen" href="/css/style.css" />
	<link rel="stylesheet" media="print" href="/css/print.css" />
</head>
<body>
	<header>
		<span class="semantic-tag-label">Header</span>
		<h1>Website Title (H1)</h1>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/services">Services</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/contact">Contact Us</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<span class="semantic-tag-label">Main</span>
		<section>
			<article>
			<!-- data -->
			</article>
		</section>
		<aside>
			<span class="semantic-tag-label">Aside</span>
			<div class="boxinfo">
				<p>Additional information related to, but not part of, the article.</p>
			</div>
			<div class="boxinfo">
				<p>Additional information related to, but not part of, the article.</p>
			</div>
			<div class="boxinfo">
				<p>Additional information related to, but not part of, the article.</p>
			</div>
		</aside>
	</main>
	<aside>
		<span class="semantic-tag-label">Aside</span>
		<nav>
			<ul>
				<li><a href="">Link1</a></li>
				<li><a href="">Link2</a></li>
					<ul>
						<li><a href="">Link2A</a></li>
						<li><a href="">Link2B</a></li>
					</ul>
				<li><a href="">Link3</a></li>
			</ul>
		</nav>
	</aside>
	<footer>
		<span class="semantic-tag-label">Footer</span>
		<p class="copyright">Copyright &copy; 2022 Company Name. All rights reserved.</p>
	</footer>
</body>
</html>
